* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body,
input {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
}

body {
  background-color: #065e7c;
}

body h1,
body h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

body h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

figcaption p {
  font-size: 1.4rem;
}

footer p {
  font-weight: 600;
}

#page {
  display: grid;
  grid-template-rows: max-content 1fr max-content;

  height: 100vh;
}

.limited {
  width: min(118rem, 100%);
  margin: 0 auto;
}

header nav {
  padding: 1.6rem;

  display: grid;
  grid-template-columns: max-content 1fr max-content;

  gap: 2.5rem;
}

header #icon {
  width: 4.2rem;
  height: 4rem;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  /*Ou seja oque transbordar torne invisível*/
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  height: 4rem;

  border: none;
  border-radius: 0.4rem;

  background-color: #387e96;

  padding: 1.2rem 1.4rem;
  color: #ffffff;
}

.input-wrapper input::placeholder {
  color: #ffffff;
}

.input-wrapper input:focus {
  outline: 1px solid #ffffff;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  border-radius: 50%;
}

main {
  background-color: #ffffff;

  overflow-y: scroll;
}

#image-principal {
  display: flex;
  width: 100%;
  height: 30rem;

  object-fit: cover;
}

#content {
  padding: 3.2rem 1.6rem 0;
}

#like {
  padding-top: 0.8rem;

  display: flex;
  gap: 1.6rem;
}

#like img {
  height: 4rem;
  width: 4rem;
}

#content p {
  padding-top: 3.2rem;
}

aside {
  padding: 3.4rem 1.6rem 4rem; /*AQUI!!!*/

  display: flex;
  flex-direction: column;

  gap: 3.2rem;
}

#items {
  display: flex;
  flex-direction: column;

  gap: 3.2rem;
}

.item {
  display: flex;
  align-items: center;

  gap: 1.6rem;
}

.item img {
  width: min(15rem, 100%);
  height: 9rem;

  border-radius: 0.5rem;
  object-fit: cover;

  transition: rotate 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.item figcaption {
  display: flex;
  flex-direction: column;

  width: min(21.5rem, 100%);

  gap: 1.4rem;
}

footer {
  text-align: center;

  padding: 2.4rem 1.6rem;

  color: #ffffff;
}

@media (min-width: 800px) {
  #main-content {
    width: min(118rem, 100%);
    padding: 4rem 1.6rem;
    margin: 0 auto;

    display: grid;
    grid-template:
      'A B' max-content
      'A B' max-content / 65% 35%;

    gap: 3.2rem;
  }

  main #div {
    grid-area: A;
  }

  #div #image-principal {
    border-radius: 0.5rem;
  }

  #likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* .limited {
    padding: 0;
  } */

  main aside .limited {
    grid-area: B;

    padding: 0;
  }

  #like {
    padding-top: 0;
  }

  #content {
    padding: 3.2rem 0 0 0;
  }

  aside {
    padding: 0;
  }
}

#image-principal {
  animation: rotate-top 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

img:active {
  animation: slide-rotate-ver-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@keyframes rotate-top {
  0% {
    transform: rotate(0);
    transform-origin: top;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: top;
  }
}

@keyframes slide-rotate-ver-left {
  0% {
    transform: translateX(0) translateY(0) rotateY(0);
  }
  100% {
    transform: translateX(-100px) translateY(100px) rotateY(180deg);
  }
}
